# Finding the Best Neighborhood in Pittsburgh

Brian Kim

In [1]:
import pandas as pd

In [3]:
traffic = pd.read_csv("traffic_data.csv")

In [4]:
traffic.head()

,id,device_id,record_oid,count_start_date,count_end_date,average_daily_car_traffic,average_daily_bike_traffic,counter_number,counter_type,speed_limit,...,longitude,latitude,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone
0,1011743669,85,1.445865e+09,2019-04-18,2019-04-26,4949.0,NaN,6,StatTrak,25.0,...,-79.967772,40.455733,Polish Hill,7,6,42003060500,6,6,2,2-6
1,1026101993,140,1.121444e+09,2019-01-24,NaN,NaN,NaN,NaN,Intersection Study,NaN,...,-79.952249,40.466157,Central Lawrenceville,7,9,42003090200,2,9,2,3-6
2,1032382575,11,1.539893e+09,2018-08-28,2018-09-04,NaN,NaN,NaN,NaN,35.0,...,-80.076469,40.460717,Windgap,2,28,42003563000,5,28,6,1-16
3,103627606,9,7.341951e+08,2018-07-17,2018-08-01,2741.0,NaN,NaN,StatTrak,25.0,...,-79.914335,40.437379,Squirrel Hill South,5,14,42003140800,3,14,4,2-18
4,1039546167,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-80.019211,40.490794,Perry North,1,26,42003260200,1,26,1,1-15

In [11]:
traffic.drop(['device_id', 'record_oid', 'count_start_date',
              'count_end_date', 'counter_number', 'counter_type', 
              'council_district', 'ward', 'tract', 'public_works_division',
              'pli_division', 'police_zone', 'fire_zone'
             ], axis = 1)

,id,average_daily_car_traffic,average_daily_bike_traffic,speed_limit,max_speed,median_speed,percent_over_limit,speed85_percent,speed95_percent,longitude,latitude,neighborhood
0,1011743669,4949.0,NaN,25.0,NaN,29.0,77.0,34.0,37.0,-79.967772,40.455733,Polish Hill
1,1026101993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-79.952249,40.466157,Central Lawrenceville
2,1032382575,NaN,NaN,35.0,63.0,33.0,28.0,38.0,41.0,-80.076469,40.460717,Windgap
3,103627606,2741.0,NaN,25.0,61.0,28.0,70.0,31.0,33.0,-79.914335,40.437379,Squirrel Hill South
4,1039546167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.019211,40.490794,Perry North
...,...,...,...,...,...,...,...,...,...,...,...,...
293,410602600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.024649,40.452285,Manchester
294,401135888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.016742,40.453706,Central Northside
295,763158204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-79.993236,40.402810,Carrick
296,1177739956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.022340,40.492009,Perry North
297,2034185540,6291.0,NaN,25.0,70.0,30.0,81.0,35.0,38.0,-79.979551,40.421548,South Side Slopes

In [19]:
traffic.pivot(index = 'neighborhood', columns = 'percent_over_limit', values = 'percent_over_limit')

ValueError: Index contains duplicate entries, cannot reshape